@charset "UTF-8";

body {
  position: relative;
  height: 100vh;
  background-color: #d3d3d3;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 600px;
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
}

.calc {
  width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  row-gap: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.529);
}

.botoes {
  display: flex;
  flex-direction: row;
}

input {
  width: 280px;
  height: 22px;
  padding: 8px;
  font-size: 1.2em;
  margin: 14px 70px;
  border-radius: 5px;
}

input[type=number]:focus {
  outline: none;
  box-shadow: 0 0 10px #3b59ee;
  border: 1px solid #74d0ff;
}

button {
  background-color: #007afe;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}

button:hover {
  background-color: #0069d9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.363);
}